/* Get around style override for margin-top*/
div.content {
    margin-top: -42px !important;
}


@media screen {
  body {
    font-family: museo-sans,Tahoma,sans-serif;
    color: #54301A;
    background: #f1e3cd;
  }
}

a:link {color:#ee3524;}
a:visited {color:#ee3542;}
a:hover {color:#10a6df;}


h1 { background: #F37321; color: white; padding:5px; font-family: Museo Slab; }
.title-slide h1 { color: #F37321;}
h2 { color: #F37321; font-family: Museo Slab}
h3 { color: #F37321; font-family: Museo Slab}
h4 { color: #F37321; font-family: Museo Slab}

ol li {
  margin-bottom: 0.5em;
}
